/* universal styles */

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.site-container {
  max-width: 1400px;
  margin: 0 auto;
}

.left_wide {
  width: 60%;
  padding: 2rem 1.5rem;
}

.right_narrow {
  width: 40%;
}

.shaded {
  background-color: #69907E;
}

h1 {
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 800;
}

h2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 700;

}

h3 {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  font-size: 1.2rem;
}

h4 {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  font-size: 1rem;
}

p,a {
  padding: 0.5rem 0;
}

a {
  font-style: italic;
  font-weight: bold;
}


/* header styles */

header.site-container{
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 2rem;
  padding-left: 1.5rem;
}

.logo span {
  font-weight:300;
}

button {
  margin-right: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  background-color: #335F4B;
  color: white;
  transition: background-color,box-shadow 200ms ease-in-out 100ms;
}

button:hover {
  background-color: #93ADA1;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

nav.mobile {
  display: none;
}

/* navigation options replaced by icons */

@media only screen and (max-width: 880px) {

.logo h2 {
  display:none;
}

}

@media only screen and (max-width: 660px) {

.logo {
  display:none;
}

nav.desktop {
  display:none;
}

nav.mobile {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

}
/* main feature styles */

.learn .site-container {
  display: flex;
}

.learn img {
  max-width: 100%;
  height:auto;
}

.learn .right_narrow {
  padding-top: 3rem;
  text-align: center;
}

/* main feature switches to flex direction column for mobile */

@media only screen and (max-width: 660px) {

.learn .site-container {
  display: flex;
  flex-direction: column;
}

.left_wide {
  width: 100%;
  padding: 0 0;
}

.right_narrow {
  width: 100%;
  padding-top: 0;
}

h1 {
  padding-top: 1.6rem;
  padding-bottom: 0.8rem;
  font-size: 1.5rem;
}

h2 {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  font-size: 1.0rem;
}

h3 {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  font-size: 0.8rem;
}

h4 {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  font-size: 0.8rem;
}

.learn .site-container {
  padding-bottom: 2rem;
}
}
/* feature styles */

.features .site-container {
  display: flex;
}

.feature_big img {
  width: 100%;
  height: auto;
  display: block;
}

.feature_small {
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
}

.feature_small:hover {
  background-color: #335F4B;
}

.feature_image {
  width: 35%;
}

.feature_image img {
  width: 100%;
  height: auto;
  display: block;
}

.feature_image .mobile {
  display: none;
}
.feature_text {
  width: 65%;
  padding: 1rem 1rem;
}

/* feature styles for mobile                            */
/* main feaure image is hiden                           */
/* feature small images swapped for wider mobile images */

@media only screen and (max-width: 660px) {

.feature_big {
  display:none;
}

.feature_small {
  display: flex;
  flex-direction: column;
}

.feature_image .desktop {
  display: none;
}

.feature_image .mobile {
  display: block;
}

.feature_image {
  width: 100%;
}

.feature_text {
  width: 100%;
}

}

/* courses styles */
/* list of courses allowed to flex as width reduces */

.learning_title {
  text-align: center;
}

.course_list {
  display: flex;
  justify-content: space-around;
  padding: 1rem 4rem;
}

.course_detail {
  width: 30%;
  overflow: hidden;
  padding-bottom: 1rem;
  background-color: white;
}

.course_detail img {
  max-width: 100%;
  height: auto;
  display: block;
}

.course_detail h2,h3,h4 {
  padding-left: 1rem;
}

/* list of courses shrinks to a list of titles in mobile view */


@media only screen and (max-width: 660px) {

.course_list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 1rem;
}

.course_detail {
  width: 100%;
  overflow: hidden;
  margin-bottom: 0.5rem;
  text-align: center;
  background-color: #1C4F38;
}

.course_detail:hover {
  background-color: #93ADA1;
}
.course_detail img {
  display:none
}

.course_detail h3 {
  display:none
}

.course_detail h4 {
  display:none
}

}

/* thesis styles */

.thesis .site-container {
  display: flex;
}

.thesis h1 {
  text-align: center;
}

.thesis video {
  width: 100%;
}

@media only screen and (max-width: 660px) {

.thesis .left_wide {
  width: 100%;
}

.thesis .right_narrow {
  display: none;
}

.thesis h2 {
  display: none;
}

.thesis p {
  display: none;
}

.thesis .feature_text {
  display: none;
}

}

/* footer styles */

footer {
  border-top: solid 1px grey;
}

footer.site-container {
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-size: 0.8rem;
}

.copyright {
  float:left;
  padding-left: 1.5rem;
}

.legal {
  float: right;
}

.legal span {
  padding-right: 1rem;
}

/* hide legal terms in mobile view */
@media only screen and (max-width: 520px) {

.legal {
  display: none
}

}
